/*
Run Dragen with 5-base conversion
*/

params {
    config_profile_name        = 'dragenflow_5base'
    config_profile_description = 'Dragenflow with 5base options'
    mark_duplicates            = false
    readfamilysize             = 3
    illumina_conversion        = true
    alignment_file_format      = "BAM"
    // Set workflow
    workflow                   = "tumor"
    variant_caller             = true
    liquid_tumor               = true
    sv_caller                  = true
    target_bedfile             = "/storage2/fs1/dspencer/Active/spencerlab/projects/illumina_5base/targeting_project/spencer_illumina5base_targeted_seq.250422.bed"
    hotspot_bed                = "/storage2/fs1/dspencer/Active/spencerlab/dhs/git/cle-myeloseqhd-capture/assets/accessory_files/MyeloseqHD.all.bed.gz"
    snv_noisefile              = "/storage2/fs1/dspencer/Active/spencerlab/refdata/hg38/dragen_align_inputs/hg38/WES_hg38_v2.0.0_systematic_noise.snv.bed.gz"
    sv_noisefile               = "/storage2/fs1/dspencer/Active/shared/refdata/hg38/dragenfiles/WGS_FF_Heme_hg38_v3.1.0_systematic_noise.sv.bedpe.gz"
}

// Set dragen args here. 
process {
    withName: 'DRAGEN_MULTIALIGN' {
        ext.dragen_args  = { [ "--umi-enable true",
                               "--methylation-conversion illumina",
                               "--methylation-generate-cytosine-report true",
                               "--methylation-keep-ref-cytosine true",
                               "--methylation-compress-cx-report true",
                               "--enable-variant-caller true",
                               "--vc-enable-umi-liquid true",
                               "--vc-enable-triallelic-filter false",
                               "--vc-combine-phased-variants-distance 3",
                               "--enable-sv true",
                               "--sv-exome true",
                               "--sv-output-contigs true",
                               "--sv-min-edge-observations 2",
                               "--sv-min-candidate-spanning-count 3",
                               "--sv-use-overlap-pair-evidence true",
                               "--sv-enable-somatic-ins-tandup-hotspot-regions true",
                               "--sv-assembler-hotspot-kmer-len-list 45 55 65 75 85 95 105 115 135 145"
                               // add lines to add/remove arguments
                             ].join(' ').trim()
                            }
    }
}
