/*
Run Dragen alignment only with no other options
*/

params {
    config_profile_name        = 'dragenflow_5base'
    config_profile_description = 'Dragenflow with 5base options'
    refdir                     = "/storage2/fs1/dspencer/Active/spencerlab/refdata/hg38/dragen_hg38_cg_v4.4.6"
    mark_duplicates            = false
    readfamilysize             = 3
    target_bedfile             = "/storage2/fs1/dspencer/Active/spencerlab/projects/illumina_5base/targeting_project/spencer_illumina5base_targeted_seq.250422.bed"
    // liquid_tumor               = true
    // hotspot_vcf                = "/storage2/fs1/dspencer/Active/spencerlab/mohamed/ref_data/genomes/hg38/MyeloseqHD.hotspots.vcf.gz"
    // hotspot_vcf_index          = "/storage2/fs1/dspencer/Active/spencerlab/mohamed/ref_data/genomes/hg38/MyeloseqHD.hotspots.vcf.gz.tbi"
    hotspot_bed                = "/storage2/fs1/dspencer/Active/spencerlab/dhs/git/cle-myeloseqhd-capture/assets/accessory_files/MyeloseqHD.all.bed.gz"
    snv_noisefile              = "/storage2/fs1/dspencer/Active/spencerlab/refdata/hg38/dragen_align_inputs/hg38/WES_hg38_v2.0.0_systematic_noise.snv.bed.gz"
    alignment_file_format      = "BAM"
    // Set workflow
    workflow                   = "tumor"
    illumina_conversion        = true
    variant_caller             = true
}

// Set dragen args here. 
process {
    withName: 'DRAGEN_MULTIALIGN' {
        ext.dragen_args  = { [ "--methylation-conversion illumina",
                               "--methylation-generate-cytosine-report true",
                               "--methylation-keep-ref-cytosine true",
                               "--methylation-compress-cx-report true",
                               "--enable-variant-caller true",
                               "--vc-enable-triallelic-filter false",
                               "--vc-combine-phased-variants-distance 3",
                               // add lines to add/remove arguments
                             ].join(' ').trim()
                            }
        //
        // ext.dragen_container = "ghcr.io/dhslab/docker-python3:240604"
        // ext.dragen_path         = "/opt/edico"
    }
}
