/*
Run Dragen alignment only with no other options
*/

params {
    config_profile_name        = 'dragenflow_alignment_only'
    config_profile_description = 'Dragenflow with alignment only'

    // Set workflow
    workflow                   = "align"
}

// Set dragen args here. 
process {
    withName: 'DRAGEN_MULTIALIGN' {
        ext.dragen_args  = { [ "--enable-variant-caller false",
                               "--enable-sv false",
                               // add lines to add/remove arguments
                               "--enable-cnv false",
                               "--enable-duplicate-marking ${params.mark_duplicates}",
                               "--output-format ${params.alignment_file_format}"
                            ].join(' ').trim()
                            }
    }
}
