
params.dragen_container           = "ghcr.io/dhslab/docker-dragen:el8.4.3.6"

bucketDir = null

fusion {
    enabled = true
}

wave {
    enabled = true
}

aws {
    region                        = 'us-east-1'
    accessKey                     = secrets.AWS_ACCESS_KEY
    secretKey                     = secrets.AWS_SECRET_KEY
}

process {
    executor             = 'awsbatch'
    queue                = 'nextflow-aws-queue'
    withLabel:process_local {
        executor      = 'awsbatch'
        queue         = 'nextflow-aws-queue'
        container     = "ghcr.io/dhslab/docker-python3:240604"
    }
    withLabel: dragen {
        ext.dragen_license_args = "--lic-server 'https://${secrets.AWS_DRAGEN_USER}:${secrets.AWS_DRAGEN_PASSWORD}@license.edicogenome.com'"
        queue                   = 'nextflow-dragen-oracle8'
        containerOptions        = '--privileged --ulimit nofile=65535:65535 --ulimit nproc=16384:16384'
        maxErrors               = 1
        cpus                    = 16
        memory                  = 230.GB
        time                    = 16.h
        ext.intermediate_dir    = null
        ext.dragen_path         = '/opt/edico/bin'
    }
}
