/*
Run Dragen alignment only with no other options

        } else if (params.workflow == "5mc"){
        dragen_mode_args += " --enable-methylation-calling true --methylation-protocol directional --methylation-generate-cytosine-report true --methylation-compress-cx-report true"

*/

params {
    config_profile_name        = 'dragenflow_alignment_only'
    config_profile_description = 'Dragenflow with alignment only'

    // Set workflow
    workflow                   = "bsseq"
    refdir                     = "/storage2/fs1/dspencer/Active/shared/refdata/hg38/dragen_hg38_5mCv4.3.6"

}

// Set dragen args here. 
process {
    withName: 'DRAGEN_MULTIALIGN' {
        ext.dragen_args  = { [ "--enable-variant-caller false",
                               "--enable-sv false",
                               "--enable-cnv false",
                               "--enable-methylation-calling true",
                               "--methylation-protocol directional",
                               "--methylation-generate-cytosine-report true",
                               "--methylation-compress-cx-report true",
                               "--enable-duplicate-marking ${params.mark_duplicates}",
                               "--output-format ${params.alignment_file_format}"
                            ].join(' ').trim()
                            }
    }
}
