/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    dhslab ChromoSeq Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // compute1 cluster options
    user_group                   = "compute-dspencer"
    queue                        = "general"
    job_group_name               = "/dspencer/nextflow"

    // compute2 cluster options
    slurm_partition              = "condo-dspencer"    
    singularity_cache            = '/scratch2/fs1/dspencer/singularity_cache'

    local_dragen_container            = "apldx/oracle8-dragen-4.3.6"
    aws_dragen_container              = "job-definition://dragen_v4-4-6"
    aws_dragen_path                   = "/opt/edico"

}

profiles {

    dhslabdragenaws {
        wave.enabled   = true
        fusion.enabled = true
        bucketDir = "s3://dhslab-dragen-data"
        params.refdir = "/storage2/fs1/dspencer/Active/spencerlab/refdata/hg38/dragen_hg38_cg_v4.4.6"
        params.extra_dragen_args = "--validate-pangenome-reference false" // for dragen 4.4.6
        process {
            withLabel:dragen {
                executor                = 'awsbatch'
                ext.dragen_container    = "job-definition://dragen_v4-4-6"
                ext.dragen_path         = "${params.aws_dragen_path}"
                ext.dragen_license_args = "--lic-server 'https://${secrets.AWS_DRAGEN_USER}:${secrets.AWS_DRAGEN_PASSWORD}@license.edicogenome.com'"
                queue                   = 'dragen-queue_v4-4-6'
                containerOptions        = '--privileged --ulimit nofile=65535:65535 --ulimit nproc=16384:16384'
                maxErrors               = 1
                cpus                    = 24
                memory                  = 240.GB
                time                    = 8.h
            }
        }
        aws {
            region      = 'us-east-1'
            accessKey   = secrets.AWS_ACCESS_KEY
            secretKey   = secrets.AWS_SECRET_KEY
        }
    }

    dhslabdragenalignaws {
        wave.enabled   = true
        fusion.enabled = true
        bucketDir = "s3://dhslab-dragen-data"
        params.refdir = "/storage2/fs1/dspencer/Active/spencerlab/refdata/hg38/dragen_hg38_cg_v4.4.6"
        params.extra_dragen_args = "--validate-pangenome-reference false" // for dragen 4.4.6
        process {
            withName: 'DRAGEN_ALIGNMENT' {
                executor                = 'awsbatch'
                ext.dragen_container = "job-definition://dragen_v4-4-6"
                ext.dragen_path         = "${params.aws_dragen_path}"
                ext.dragen_license_args = "--lic-server 'https://${secrets.AWS_DRAGEN_USER}:${secrets.AWS_DRAGEN_PASSWORD}@license.edicogenome.com'"
                queue                   = 'dragen-queue_v4-4-6'
                containerOptions        = '--privileged --ulimit nofile=65535:65535 --ulimit nproc=16384:16384'
                maxErrors               = 1
                cpus                    = 24
                memory                  = 240.GB
                time                    = 8.h
            }
        }
        aws {
            region      = 'us-east-1'
            accessKey   = secrets.AWS_ACCESS_KEY
            secretKey   = secrets.AWS_SECRET_KEY
        }
    }

    dhslabaws {
        wave.enabled   = true
        fusion.enabled = true
        bucketDir = "s3://dhslab-dragen-data"
        params.refdir = "/storage2/fs1/dspencer/Active/spencerlab/refdata/hg38/dragen_hg38_cg_v4.4.6"
        process {
            executor = 'awsbatch'
            queue    = 'nextflow-aws-queue'

            withLabel:dragen {
                params.extra_dragen_args = "--validate-pangenome-reference false" // for dragen 4.4.6
                ext.dragen_container = "job-definition://dragen_v4-4-6"
                ext.dragen_path      = "${params.aws_dragen_path}"
                ext.dragen_license_args = "--lic-server 'https://${secrets.AWS_DRAGEN_USER}:${secrets.AWS_DRAGEN_PASSWORD}@license.edicogenome.com'"
                queue                   = 'dragen-queue_v4-4-6'
                containerOptions        = '--privileged --ulimit nofile=65535:65535 --ulimit nproc=16384:16384'
                maxErrors               = 1
                cpus                    = 24
                memory                  = 240.GB
                time                    = 8.h
            }
        }
        aws {
            region      = 'us-east-1'
            accessKey   = secrets.AWS_ACCESS_KEY
            secretKey   = secrets.AWS_SECRET_KEY
        }
    }
}
