/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    dhslab ChromoSeq Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // compute1 cluster options
    user_group                   = "compute-dspencer"
    queue                        = "general"
    job_group_name               = "/dspencer/nextflow"

    // compute2 cluster options
    slurm_partition              = "condo-dspencer"    
    singularity_cache            = '/scratch2/fs1/dspencer/singularity_cache'

    local_dragen_container            = "apldx/oracle8-dragen-4.3.6"
    aws_dragen_path                   = "/opt/edico"

}
