bucketDir = "s3://dhslab-dragen-data"

params.refdir = "/storage2/fs1/dspencer/Active/shared/refdata/hg38/dragen_hg38_cg_rna_cnv_v4.5.4"
params.extra_dragen_args = "--validate-pangenome-reference false" // for dragen >4.4.6

process {
    withLabel:dragen {
        executor                = 'awsbatch'
        ext.dragen_container    = "job-definition://dragen_v4-5-4"
        ext.dragen_path         = "/opt/edico"
        ext.dragen_license_args = "--lic-server 'https://${secrets.AWS_DRAGEN_USER}:${secrets.AWS_DRAGEN_PASSWORD}@license.edicogenome.com'"
        queue                   = 'dragen-queue_v4-5-4'
        containerOptions        = '--privileged --ulimit nofile=65535:65535 --ulimit nproc=16384:16384'
        maxErrors               = 1
        cpus                    = 24
        memory                  = 240.GB
        time                    = 8.h
    }
}
aws {
    region      = 'us-east-1'
    accessKey   = secrets.AWS_ACCESS_KEY
    secretKey   = secrets.AWS_SECRET_KEY
}
