params.dragen_container           = "ghcr.io/dhslab/docker-dragen:el8.4.3.6"

// For AWS hybrid execution
aws {
    region                        = 'us-east-1'
    batch {
        cliPath                   = '/home/ec2-user/miniconda/bin/aws'
        volumes                   = ['/staging','/dev/shm:/dev/shm']
    }
    accessKey                     = secrets.AWS_ACCESS_KEY
    secretKey                     = secrets.AWS_SECRET_KEY
}

process {
    withLabel: dragenalign {
        executor                = 'awsbatch'
        ext.dragen_license_args = "--lic-server 'https://${secrets.AWS_DRAGEN_USER}:${secrets.AWS_DRAGEN_PASSWORD}@license.edicogenome.com'"
        queue                   = 'nextflow-dragen-oracle8'
        containerOptions        = '--privileged --ulimit nofile=65535:65535 --ulimit nproc=16384:16384'
        maxErrors               = 1
        cpus                    = 16
        memory                  = 230.GB
        time                    = 16.h
        ext.intermediate_dir    = '/staging/intermediate-results-dir'
        ext.dragen_path         = '/opt/edico/bin'
    }
}

