/*
Run Dragen alignment only with no other options

     
    } else if (params.workflow == "tumor" || params.workflow == "somatic"){

        dragen_mode_args += " --enable-variant-caller true --vc-systematic-noise inputs/${dragen_inputs.snv_noisefile} --vc-enable-triallelic-filter false --vc-combine-phased-variants-distance 3 --enable-sv true --sv-output-contigs true --sv-hyper-sensitivity true --sv-min-edge-observations 3 --sv-min-candidate-spanning-count 3 --sv-use-overlap-pair-evidence true --sv-systematic-noise inputs/${dragen_inputs.sv_noisefile} --sv-enable-somatic-ins-tandup-hotspot-regions true ${tandup_bed}"

        if (params.target_bed_file){
            dragen_mode_args += "  --enable-cnv true --cnv-somatic-enable-het-calling true --cnv-enable-ref-calls false --cnv-population-b-allele-vcf inputs/${dragen_inputs.pop_af_vcf} --cnv-enable-self-normalization true --cnv-target-bed inputs/${dragen_inputs.target_bed_file} --sv-exome true --sv-call-regions-bed inputs/${dragen_inputs.target_bed_file} --vc-target-bed inputs/${dragen_inputs.target_bed_file}"
        
        } else {
            dragen_mode_args += " --enable-cnv true --cnv-somatic-enable-het-calling true --cnv-enable-ref-calls false --cnv-population-b-allele-vcf inputs/${dragen_inputs.pop_af_vcf}${dux4caller}"
        }


    } else if (params.workflow == "germline"){
        dragen_mode_args += " --enable-variant-caller true --enable-sv true --sv-output-contigs true --sv-use-overlap-pair-evidence true"
        if (params.target_bed_file){
            dragen_mode_args += " --sv-exome true --sv-call-regions-bed inputs/${dragen_inputs.target_bed_file} --vc-target-bed inputs/${dragen_inputs.target_bed_file}"
        } else {
            dragen_mode_args += " --enable-cnv true --cnv-enable-self-normalization true"
        }
*/

params {
    config_profile_name        = 'dragenflow_alignment_only'
    config_profile_description = 'Dragenflow with alignment only'

    // Set workflow
    workflow                   = "align"
}

// Set dragen args here. 
process {
    withName: 'DRAGEN_MULTIALIGN' {
        ext.dragen_args  = { [ "--enable-variant-caller false",
                               "--enable-sv false",
                               // add lines to add/remove arguments
                               "--enable-cnv false",
                               "--enable-duplicate-marking ${params.mark_duplicates}",
                               "--output-format ${params.alignment_file_format}"
                            ].join(' ').trim()
                            }
    }
}
