/*
Run Dragen alignment only with no other options

    if (params.workflow == "rna"){
        def downsampleargs = params.downsample_rna ? " --enable-down-sampler true --down-sampler-reads 200000000" : ""
        dragen_mode_args += " --enable-variant-caller true --enable-rna true -a inputs/${dragen_inputs.annotation_file} --rrna-filter-enable true --enable-rna-quantification true --enable-rna-gene-fusion true ${downsampleargs}"

*/

params {
    config_profile_name        = 'dragenflow_rnaseq'
    config_profile_description = 'Dragenflow RNAseq'

    // Set workflow
    workflow                   = "rna"
    annotation_gtf             = "/storage2/fs1/dspencer/Active/spencerlab/refdata/hg38/ensemble/Homo_sapiens.GRCh38.105.chr.sorted.gtf.gz"
    transcript_table           = "/storage2/fs1/dspencer/Active/spencerlab/refdata/hg38/ensemble/Homo_sapiens.GRCh38.105.transcript_table.txt"

}

// Set dragen args here. 
process {
    withName: 'DRAGEN_MULTIALIGN' {
        ext.dragen_args  = { [ "--enable-variant-caller true",
                               "--enable-duplicate-marking ${params.mark_duplicates}",
                               "--output-format ${params.alignment_file_format}"
                            ].join(' ').trim()
                            }
    }
}
