/*
Run Dragen alignment only with no other options
*/

params {
    config_profile_name        = 'dragenflow_somatic_heme'
    config_profile_description = 'Dragenflow with somatic alignment and variant calling for heme cancer samples'

    // Set workflow
    workflow                   = "somatic"
    snv_noisefile              = "/storage2/fs1/dspencer/Active/spencerlab/refdata/hg38/dragenfiles/IDPF_WGS_hg38_v.2.0.0_systematic_noise.snv.bed.gz"
    sv_noisefile               = "${projectDir}/assets/data/WGS_hg38_v3.1.0_systematic_noise.sv.bedpe.gz"
    mark_duplicates            = true

}

// Set dragen args here. 
process {
    withName: 'DRAGEN_MULTIALIGN' {
        ext.dragen_args  = { [ "--enable-variant-caller true",
                               "--enable-sv true",
                               "--sv-output-contigs true",
                               // add lines to add/remove arguments
                               "--enable-cnv true",
                               "--cnv-use-somatic-vc-baf true",
                               "--cnv-enable-self-normalization true"
                               "--cnv-enable-ref-calls false",
                               "--cnv-somatic-enable-het-calling true",
                               "--enable-tmb true",
                             ].join(' ').trim()
                            }
    }
}
