/*
Run Dragen somatic for heme cancers
*/

params {
    config_profile_name        = 'dragenflow_somatic_heme'
    config_profile_description = 'Dragenflow with somatic alignment and variant calling for heme cancer samples'

    // Set workflow
    workflow                   = "somatic"
    liquid_tumor               = true
    snv_noisefile              = "/storage2/fs1/dspencer/Active/spencerlab/refdata/hg38/dragenfiles/IDPF_WGS_hg38_v.2.0.0_systematic_noise.snv.bed.gz"
    sv_noisefile               = "/storage2/fs1/dspencer/Active/spencerlab/refdata/hg38/dragenfiles/WGS_FF_Heme_hg38_v3.1.0_systematic_noise.sv.bedpe.gz"
    variant_caller             = true
    sv_caller                  = true
    cnv_caller                 = true
    dux4caller                 = true
}

// Set dragen args here. 
process {
    withName: 'DRAGEN_MULTIALIGN' {
        ext.dragen_args  = { [ "--enable-variant-caller true",
                               "--vc-enable-triallelic-filter false",
                               "--vc-combine-phased-variants-distance 3",
                               "--enable-sv true",
                               "--sv-exome true",
                               "--sv-output-contigs true",
                               params.dux4caller ?: "--enable-dux4-caller true",
                               // add lines to add/remove arguments
                               "--enable-cnv true",
                               "--cnv-use-somatic-vc-baf true",
                               "--cnv-enable-self-normalization true",
                               "--cnv-enable-ref-calls false",
                               "--cnv-somatic-enable-het-calling true",
                               "--enable-ploidy-estimator true",
                               "--enable-hla true"
                             ].join(' ').trim()
                            }
    }
}
