/*
Run Dragen alignment only with no other options
*/

params {
    config_profile_name        = 'dragenflow_tumoronly_heme'
    config_profile_description = 'Dragenflow tumor only heme'

    // Set workflow
    workflow                   = "tumor"
    liquid_tumor               = true
    snv_noisefile              = "/storage2/fs1/dspencer/Active/shared/refdata/hg38/dragenfiles/IDPF_WGS_hg38_v.2.0.0_systematic_noise.snv.bed.gz"
    sv_noisefile               = "/storage2/fs1/dspencer/Active/shared/refdata/hg38/dragenfiles/WGS_FF_Heme_hg38_v3.1.0_systematic_noise.sv.bedpe.gz"
    cnv_population_vcf         = "/storage2/fs1/dspencer/Active/shared/refdata/hg38/dragenfiles/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
    dragen_cnv_filter_length   = 500000
    dragen_cnv_merge_distance  = 2000000
    sv_annotation_distance     = 20000
    max_filter_sv_length       = 150000000

    variant_caller             = true
    mark_duplicates            = true
    sv_caller                  = true
    cnv_caller                 = true
    dux4caller                 = true

}

// Set dragen args here. 
process {
    withName: 'DRAGEN_MULTIALIGN' {
        ext.dragen_args  = { [ "--enable-variant-caller true",
                               "--vc-enable-triallelic-filter false",
                               "--vc-combine-phased-variants-distance 3",
                               "--enable-sv true",
                               "--sv-exome true",
                               "--sv-output-contigs true",
                               "--sv-min-edge-observations 2",
                               "--sv-min-candidate-spanning-count 3",
                               "--sv-use-overlap-pair-evidence true",
                               "--sv-enable-somatic-ins-tandup-hotspot-regions true",
                               params.dux4caller ? "--enable-dux4-caller true" : "",
                               "--enable-ploidy-estimator true",
                               // add lines to add/remove arguments
                               "--enable-cnv true",
                               "--cnv-enable-ref-calls false",
                               "--cnv-somatic-enable-het-calling true"
                             ].join(' ').trim()
                            }
    }
}
